body{
  margin: 0;
  padding: 50px;
  background-color: maroon;
}

.outer {
  width: 600px;
  height: 600px;
  background-color: white;
  margin: 0 auto;
  font-size: 0;
}

.mid{
  width: 400px;
  height:400px;
  background-color: black;
  position: relative;
  left:100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
}

.small{
  width: 200px;
  height:200px;
  background-color: lightyellow;
  position: relative;
  left:100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
}
